extends layout

block content
  .row
    .col-sm-12
      h1=me.name
  .row
    .col-sm-6
      .row.text-center
        h4 my connected providers
      .col-sm-12
        for profile,name in me.profiles
          p=name
    .col-sm-6
      .row.text-center
        h4 add new provider
      .col-xs-10
        for provider in providers
          a(href='/auth/#{provider.name}')
            li=provider.name

